__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# IDE / editor settings
.vscode/
.idea/
.cursor/

# OS files
.DS_Store
Thumbs.db

# Project outputs
output/

# External Documents
docs/

# Logs
logs/
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# Python build artifacts
build/
dist/
*.egg-info/

# Remove pdf files on root folder
*.pdf

